---
layout: layout.liquid
title: My Keys
---

<h1>My Keys</h1>
<img src ="keys.png" alt = "A picture of my keys">
<p>My keys are an object of vital importance, and I absolutely can not leave my apartment without them. Obviously, it is necessary for me to lock my apartment door once I leave so nothing happens while I'm gone, but also attached on the same key ring are the keys to both my car and my bike, meaning that if I want to go anywhere that isn't within walking distance, having my keys with me is absolutely essential. I also have several other yellow keys attached to the key ring; these are keys to various rooms within the MSU Horticulture Gardens, rooms which I am required to access whenever I work there - so they serve a work purpose as well.</p>