---
layout: layout.liquid
title: My Phone
---

<h1>My Phone</h1>
<img src ="phone.png" alt = "A picture of my phone">
<p>My phone is one of the most important objects that I can't leave home without. In many situations it proves to be extremely useful, whether that be using navigation services when I am in unfamiliar places, being able to communicate with anyone I want whenever I want, or simply being able to mindlessly scroll and watch videos when I am bored. This one is perhaps a double-edged sword, as I have wasted an ashamedly high amount of hours wasting my time on there, but my phone is simply too useful not to take with me whenever I go out - the positives of having it around far outweigh the negatives.</p>