---
layout: layout.liquid
title: My Wallet
---

<h1>My Wallet</h1>
<img src ="wallet.png" alt = "A picture of my wallet">
<p>My wallet is an incredibly useful item to have with me whenever I go leave the house - the various things stored within it have a wide variety of different uses, and no matter what situation I may find myself in, I never know when I may need to use it. Whether that be carrying money with me in case I need to spend it, my MSU ID in case I want to eat a meal at a dining hall, or my driver's license for whenever I need to drive or prove my identity, the things I store in here have a very high range of different utilities. A lot of the things I carry around with me in there every day are not very useful - such as an assortment of forgotten gift cards I have collected over the years - but access to money, my MSU ID, and my driver's license are too useful to justify ever leaving my wallet at home.</p>