<nav>
    <ul>
      <li><a href="/_site/about/index.html" title="Home">Home</a></li>
      <li><a href="/_site/phone/index.html" title="Phone">Phone</a></li>
      <li><a href="/_site/wallet/index.html" title="Wallet">Wallet</a></li>
      <li><a href="/_site/keys/index.html" title="About">Keys</a></li>
    </ul>
</nav>