body {
    background-color: #BFABCB;
}

img { 
    border: 5px solid #000;
    float: right
}

ul {
    text-align: center;
    list-style-type: none;
}

img:hover {
  box-shadow: 0 0 2px 1px #000;
}

nav:hover {
  box-shadow: 0 0 2px 1px #000;
}

nav {
    margin: 40px auto 0 auto;
    width: 400px;
    border-radius: 50px;
    background: #F2D5F8;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #000;
    text-decoration: none;
    font-size: 1.2em;
}

p {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

h1 {
    text-align: center;
}